*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;


}

  /* start */
:root {
  --color-text: #111;
  --color-background: #eee;
  --color-pathe: #ffc426;
}

/* HEADER */
header {
  background-color: var(--color-pathe);
  min-height: 4em;
  padding: 0 1em;
  line-height: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  left: 0;
  right: 0;
  z-index: 1000;
}

header a {/* tekst in open menu */
  padding: .5em 0;
  color: var(--color-text);
  text-decoration: none;
}

header>a:first-of-type img {
  height: 3em;
}

header button {
  padding: 0.5em;
  display: flex;
  gap: .25em;
  background-color: var(--color-pathe);
  border: none;
}


header button img {
  height: 2em;/* size buttons */
}

header>button {
  order: -1;   /* plaats van button */
}

/* MENU BUTTON */
nav button {
  justify-self: start;
}

nav {
  padding: 1em;
  display: grid;
  align-content: start;
  gap: 1em;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform: translateY(-100%);
  /* Verplaats het menu omhoog buiten het zicht */
  transition: 0.3s;
  background-color: var(--color-pathe);
}

nav.toonMenu {
  transform: translateY(0);
  /* Verplaats het menu naar beneden om het zichtbaar te maken */
  transition: 0.3s;

}

nav ul {
  list-style: none;
}

nav a {
  display: flex;
  align-items: center;
  column-gap: .25em;
  border-bottom: solid 3px var(--color-background);
}

nav ul li:first-of-type a p {
  font-weight: bold;
}

header form {
  padding: 0.5em;
  display: flex;
  flex-grow: 1;
  justify-content: start;
  margin: 0 auto;
  padding: 1em;
}

header form input {
  line-height: 2em;
  padding: 0 1em;
  border: none;
}

header form button {
  line-height: 2em;
  padding: 0 .6em;
  color: var(--color-background);
}

/* TEKST */
h1 {
  margin: 0.5em;
  font-style: normal;
  font-weight: 100;
}

h2 {
  margin: 0.6em;
  font-weight: 600;
  text-transform: uppercase;
}

/* EERSTE PAGINA SECTION */
section ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 1em;
  padding-right: 1em;
}

@keyframes hungerGames {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.1;
  }
}

main > section:first-of-type ul li:first-child:hover {
  animation-name: hungerGames;
  animation-duration: 1s;
}

section ul li {
  margin-right: 0.4em;
  /* ruimte tussen de afbeeldingen in section*/
}

section ul li img {
  max-width: 100%;
  height: auto;
}

section button {
  display: block;
  padding: 0.5em 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 3em;
  margin-left: auto;
  background-color: var(--color-pathe);
  color: var(--color-text);
  border: none;
  border-radius: 0.6em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

section button:hover {
  background-color: #ffc107;
  color: white;
}

/*TWEEDE PAGINA*/
article {/*Youtube*/
  position: relative;
}

article iframe {
  width: 100%;
  height: atuo;
  z-index: 999;
}

article img {
  position: absolute;
  top: 9em;
  left: 1em;
  max-width: 100%;
  max-height: 100%;
}
/*Derde section tweede pagina*/
section:nth-last-child(3){
  text-align: right;
}

/*SVG Hartje kleuren*/
h2 svg{
  width: 4%;
}

h2 svg:hover{
  fill: red;
}
/*Iconen onder H2*/
section figure {
  display: flex; 
  justify-content: flex-end; 
  gap: 1.5em; 
}

section figure img {
  width: 2em;
  height: auto; 
  margin-right: 1em;
}
/*Button groter maken*/
body > section:nth-last-child(3) > button {
  width: 23em;
}


/* FOOTER*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-pathe);
  color: white;
  text-align: center;
  padding: 0.5em;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1em;
}