*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trade Gothic Bold Condensed 20", Arial, Helvetica, sans-serif;
}


/**************************/

/* START */

/************************/
:root {
  --color-text: #111;
  --color-background: #eee;
  --color-pathe: #ffc426;
  --color-background-body: #f5f5f5;
  --color-sections: black;
}

@media (prefers-color-scheme:dark) {
  :root {
    --color-text: #111;
    --color-background: #eee;
    --color-pathe: #ffc426;
    --color-background-body: rgb(38, 38, 38);
  }

  body {
    color: #ffff;
  }
}

@media (prefers-contrast:more) {
  :root {
    --color-text: rgb(0, 0, 0);
    --color-background: rgb(255, 255, 255);
    --color-pathe: #ffbb00;
    --color-background-body: #ffffff;
    --color-sections: black;
  }

  body {
    font-weight: 600;
  }
}

/**************************/

/* HEADER */

/************************/
body {
  background: var(--color-background-body);
}

header {
  background-color: var(--color-pathe);
  min-height: 4em;
  padding: 0 1em;
  line-height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1000;
  /* om de menu nog te openen bij pagina 2/ anders zie je het niet */
}

/* tekst in open menu */
header a {
  padding: .5em 0;
  color: var(--color-text);
  text-decoration: none;
}

/* logo size*/
header>a:first-of-type img {
  height: 3em;
}

/* button open menu */
header button {
  padding: 0.5em;
  display: flex;
  gap: .25em;
  background-color: var(--color-pathe);
  border: none;
}

/* button open menu */
header button img {
  height: 2em;
}

/* positie open menu en logo */
header>button {
  order: 1;
}

header button:focus {
  background-color: var(--color-background-body);
  outline: 3px solid var(--color-pathe);
}

a:focus {
  background-color: var(--color-background-body);
  outline: 3px solid var(--color-pathe);
}

/**************************/

/* MENU BUTTON */

/************************/

/* button sluit menu aan rechterkant*/
nav button {
  justify-self: end;
}

/* menu navigatie*/
nav {
  padding: 1em;
  display: grid;
  align-content: start;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform: translateY(-100%);
  transition: 0.3s;
  background-color: var(--color-pathe);
}

/* Javascript menu micro interactie openklappen */
nav.toonMenu {
  transform: translateY(0);
  transition: 0.3s;
}

/* Toegankelijker door de menu tabben */
nav.toonMenu,
nav:focus-within {
  transform: translateX(0vw);
}

/* Styling navigatie */
nav ul {
  list-style: none;
}

nav a {
  display: flex;
  align-items: center;
  column-gap: .25em;
  border-bottom: solid 3px var(--color-background);
}

/* Styling zoekbalk */
header input {
  padding: 0.8em;
  display: flex;
  justify-content: start;
  border: none;
}

nav a:focus {
  background-color: var(--color-background-body);
  outline: 3px solid var(--color-pathe);
}

/* Eerste regel in nav bold */
nav li:nth-of-type(1) {
  font-weight: bold;
}

/**************************/

/* TEKST */

/************************/

h1 {
  margin: 0.5em;
  text-transform: uppercase;
  font-size: 28px;
  color: #ffc426;
}

h2 {
  margin: 0.6em;
  text-transform: uppercase;
  font-size: 22px;
}

/**************************/

/* EERSTE PAGINA SECTION */

/************************/

/* Itemst Column verticaal boven naar beneden 
Wrap naar nieuwe kolom als er geen ruimte is  */
main section:nth-of-type(1) {
  display: flex;
  flex-flow: column wrap;
}

main section:nth-of-type(2) {
  display: flex;
  flex-flow: column wrap;
}

main section:nth-of-type(3) {
  display: flex;
  flex-flow: column wrap;
}

/* Section styling */
section ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-right: 1em;
  margin-left: 1em;
}

/*Animatie scale op images EERSTE SECTION*/
main>section:nth-of-type(1) ul li:nth-of-type(1):hover {
  animation-name: vergrootFoto;
  animation-duration: 1s;
  border: 2px solid var(--color-pathe);
  font-weight: bold;
}

main>section:nth-of-type(1) ul li:nth-of-type(2):hover {
  animation-name: vergrootFoto;
  animation-duration: 1s;
}

main>section:nth-of-type(1) ul li:nth-of-type(3):hover {
  animation-name: vergrootFoto;
  animation-duration: 1s;
}


main>section:nth-of-type(1) ul li:nth-of-type(4):hover {
  animation-name: vergrootFoto;
  animation-duration: 1s;
}

/*Animatie scale op images TWEEDE SECTION*/
main>section:nth-of-type(2) ul li:nth-of-type(1):hover {
  animation-name: vergrootFoto;
  animation-duration: 1s;
}

main>section:nth-of-type(2) ul li:nth-of-type(2):hover {
  animation-name: vergrootFoto;
  animation-duration: 1s;
}

main>section:nth-of-type(2) ul li:nth-of-type(3):hover {
  animation-name: vergrootFoto;
  animation-duration: 1s;
}

main>section:nth-of-type(2) ul li:nth-of-type(4):hover {
  animation-name: vergrootFoto;
  animation-duration: 1s;
}

/*Animatie scale op images DERDE SECTION*/
main>section:nth-of-type(3) ul li:nth-of-type(1):hover {
  animation-name: vergrootFoto;
  animation-duration: 1s;
}

main>section:nth-of-type(3) ul li:nth-of-type(2):hover {
  animation-name: vergrootFoto;
  animation-duration: 1s;
}

main>section:nth-of-type(3) ul li:nth-of-type(3):hover {
  animation-name: vergrootFoto;
  animation-duration: 1s;
}

main>section:nth-of-type(3) ul li:nth-of-type(4):hover {
  animation-name: vergrootFoto;
  animation-duration: 1s;
}

@keyframes vergrootFoto {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.1;
  }
}

/*Ruimte tussen sections img*/
section ul li {
  margin-right: 0.4em;
  margin-bottom: 1em;
}

section ul li img {
  max-width: 100%;
  height: auto;
}

/*P tekst onder img section 1*/
main section:nth-of-type(1),
main section:nth-of-type(2),
main section:nth-of-type(3) {
  font-size: 12px;
  display: flex;
  justify-content: center;
}


/*Zie alle button*/
main section a:nth-child(3) {
  display: flex;
  align-items: center;
  color: var(--color-text);
  padding: 0.5em 1em;
  border: 2px solid #ffc426;
  border-radius: 0.6em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff;
  align-self: end;
  margin-right: 1em;
  margin-bottom: 1em;
}

/*Zie alle button svg*/
main section a:nth-child(3) svg {
  height: 1.5em;
  fill: none;
  stroke: black;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/**************************/

/* TWEEDE PAGINA */

/************************/

main article h1 {
  display: none;
}

/*Youtube*/
article {
  position: relative;
}

article iframe {
  width: 100%;
  z-index: 999;

}

/*img die youtube filmpje overlapt*/
article img {
  position: absolute;
  top: 8em;
  left: 1em;
  max-width: 60%;
  max-height: 60%;
}

/**************************/

/* DERDE SECTION TWEEDE PAGINA */

/************************/

[class="detail"] section:nth-of-type(1) {
  text-align: right;
}

/*SVG Hartje kleuren*/
h2 svg {
  width: 4%;
}

h2 svg:hover {
  fill: red;
}

/*Iconen onder H2 tweede pagina*/
section div {
  display: flex;
  justify-content: flex-end;
  gap: 1.5em;
}

section div img {
  width: 2em;
  height: auto;
  margin-right: 1em;
}

/*Button groter maken 'TIJDEN EN TICKETS*/
[class="detail"] section:nth-of-type(1)>button {
  width: 20em;
  display: block;
  padding: 0.5em 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 3em;
  margin-left: auto;
  background-color: var(--color-pathe);
  color: var(--color-text);
  border: none;
  border-radius: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
}

[class="detail"] section:nth-of-type(1)>button:focus {
  background-color: var(--color-background-body);
  outline: 3px solid var(--color-pathe);
}

/*tekst 'tickets online beschikbaar etc.'*/
main div {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

/*svg naast'tickets online beschikbaar etc.'*/
main div svg:hover {
  fill: var(--color-pathe);
}

/*knop 'lees meer' tekst*/
[class="detail"] section:nth-of-type(2) p {
  font-size: 16px;
}

details {
  display: block;
  padding: 1em;
  background-color: var(--color-pathe);
  margin-top: 1em;
  cursor: pointer;
}

details summary {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

details p {
  margin-top: 1em;
}

details summary:focus {
  background-color: var(--color-background-body);
  outline: 3px solid var(--color-pathe);
}

[class="detail"] section:nth-of-type(2) h2 {
  display: none;
}

/* tekst 'Tijden en Tickets*/
section p {
  margin-left: 1em;
  margin-right: 1em;
}

section p:nth-of-type(1) {
  margin-bottom: 1em;
}

/* checkboxes bioscopen locaties*/
[class="detail"] section:nth-of-type(3) ul li {
  /*alleen de tekst en checkboxes*/
  margin: 1em;
}

[class="detail"] section:nth-of-type(3) ul {
  /*de gehele ruimte waar de checkboxes en tekst staan*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 13px;
}

[class="detail"] section:nth-of-type(3) h3 {
  padding: 1em;
  text-transform: uppercase;
}

[class="detail"] section:nth-of-type(3) p {
  margin-left: 1.1em;
  font-size: 16px;
}

/* section 'trailers en fotos'*/
[class="detail"] section:nth-of-type(4) {
  background-color: var(--color-sections);
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  padding: 0.5em;
  margin-top: 1em;
}

[class="detail"] section:nth-of-type(4) h4 {
  margin-left: 0.5em;
  color: white
}

[class="detail"] section:nth-of-type(4) img {
  max-width: 30%;
  max-height: 30%;
  height: auto;
  margin-right: 0.5em;
  margin-top: 2em;
}

/* section onder 'trailers en fotos' met fotos*/
section:nth-of-type(5) h4 {
  display: none;
}

[class="detail"] section:nth-of-type(5) {
  background-color: var(--color-sections);
  padding: 2em;
  color: white;
}

/* section 'schrijf een recensie'*/
section:nth-of-type(6) h4 {
  display: none;
}

[class="detail"] section:nth-of-type(6) {
  padding: 3em;
  display: flex;
  justify-content: center;
}

[class="detail"] section:nth-of-type(6) button {
  width: 20em;
  padding: 0.5em 1em;
  background-color: var(--color-pathe);
  color: var(--color-text);
  border: none;
  border-radius: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
}

[class="detail"] section:nth-of-type(6) button:focus {
  background-color: var(--color-background-body);
  outline: 3px solid var(--color-pathe);
}

/* FOOTER*/
footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-pathe);
  color: white;
  text-align: center;
  padding: 0.5em;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1em;
}