*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


/**************************/

/* START */

/************************/
:root {
  --color-text: #111;
  --color-background: #eee;
  --color-pathe: #ffc426;
  --color-background-body: #f5f5f5;
}

/**************************/

/* HEADER */

/************************/
header {
  background-color: var(--color-pathe);
  min-height: 4em;
  padding: 0 1em;
  line-height: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  left: 0;
  right: 0;
  z-index: 1000;
}

body {
  background: var(--color-background-body);
}


/* tekst in open menu */
header a {
  padding: .5em 0;
  color: var(--color-text);
  text-decoration: none;
}

header>a:first-of-type img {
  height: 3em;
}

header button {
  padding: 0.5em;
  display: flex;
  gap: .25em;
  background-color: var(--color-pathe);
  border: none;
}

header button img {
  height: 2em;
} 

header>button {
  order: -1;
}

header button:focus{
  background-color: var(--color-background-body);
  outline: 3px solid var(--color-pathe);
}

a:focus{
  background-color: var(--color-background-body);
  outline: 3px solid var(--color-pathe);
}

/**************************/

/* MENU BUTTON */

/************************/

nav button {
  justify-self: start;
}

nav {
  padding: 1em;
  display: grid;
  align-content: start;
  gap: 1em;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform: translateY(-100%);
  transition: 0.3s;
  background-color: var(--color-pathe);
}

/* Javascript menu micro interactie */
nav.toonMenu {
  transform: translateY(0);
  transition: 0.3s;
}

nav ul {
  list-style: none;
}

nav a {
  display: flex;
  align-items: center;
  column-gap: .25em;
  border-bottom: solid 3px var(--color-background);
}

header input {
  padding: 0.8em;
  display: flex;
  justify-content: start;
  border: none;
}

nav a:focus{
  background-color: var(--color-background-body);
  outline: 3px solid var(--color-pathe);
}

/**************************/

/* TEKST */

/************************/

h1 {
  margin: 0.5em;
  text-transform: uppercase;
font-family: "Trade Gothic Bold Condensed 20",Arial,Helvetica,sans-serif;
}

h2 {
  margin: 0.6em;
  text-transform: uppercase;
  font-family: "Trade Gothic Bold Condensed 20",Arial,Helvetica,sans-serif;
  font-size: 22px;
}


/**************************/

/* EERSTE PAGINA SECTION */

/************************/


main section:nth-of-type(1) {
  display: flex;
  flex-flow: column wrap;
}

main section:nth-of-type(2) {
  display: flex;
  flex-flow: column wrap;
}

section ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 1em;
  padding-right: 1em;
}

@keyframes hungerGames {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.1;
  }
}

main>section:first-of-type ul li:first-child:hover {
  animation-name: hungerGames;
  animation-duration: 1s;
}

section ul li {
  margin-right: 0.4em;
  margin-bottom: 1em;
}

section ul li img {
  max-width: 100%;
  height: auto;
}

main section:nth-of-type(1) p {
  display: flex;
  justify-content: center;
}

main section:nth-of-type(2) p {
  display: flex;
  justify-content: center;
}


main section a:nth-child(3) {
  display: flex;
  align-items: center;
  color: var(--color-text);
  padding: 0.5em 1em;
  border: 2px solid #ffc426;
  border-radius: 0.6em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff;
  align-self: end;
  margin-right: 1em;
  margin-bottom: 1em;
}

main section a:nth-child(3) svg {
  height: 1.5em;
  fill: none;
  stroke: black;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/**************************/

/* TWEEDE PAGINA */

/************************/

main article h2 {
  display: none;
}

article {
  /*Youtube*/
  position: relative;

}

article iframe {
  width: 100%;
  z-index: 999;

}

article img {
  position: absolute;
  top: 12em;
  left: 1em;
  max-width: 60%;
  max-height: 60%;
}
/**************************/

/* DERDE SECTION TWEEDE PAGINA */

/************************/

[class="detail"] section:nth-of-type(1) {
  text-align: right;

}

/*SVG Hartje kleuren*/
h2 svg {
  width: 4%;
}

h2 svg:hover {
  fill: red;
}

/*Iconen onder H2 tweede pagina*/
section div {
  display: flex;
  justify-content: flex-end;
  gap: 1.5em;
}

section div img {
  width: 2em;
  height: auto;
  margin-right: 1em;
}

/*Button groter maken 'TIJDEN EN TICKETS*/
[class="detail"] section:nth-of-type(1)>button {
  width: 20em;
  display: block;
  padding: 0.5em 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 3em;
  margin-left: auto;
  background-color: var(--color-pathe);
  color: var(--color-text);
  border: none;
  border-radius: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
}

[class="detail"] section:nth-of-type(1)>button:focus{
  background-color: var(--color-background-body);
  outline: 3px solid var(--color-pathe);
}

/*tekst 'tickets online beschikbaar etc.'*/
main div {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

/*svg naast'tickets online beschikbaar etc.'*/
main div svg:hover {
  fill: var(--color-pathe);
}

/*knop 'lees meer' tekst*/
details {
  display: block;
  padding: 1em;
  background-color: var(--color-pathe);
  margin-top: 1em;
}

details summary {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

details summary:focus{
  background-color: var(--color-background-body);
  outline: 3px solid var(--color-pathe);
}

[class="detail"] section:nth-of-type(2) h2 {
  display: none;
}

/* tekst 'Tijden en Tickets*/
section p {
  margin-left: 1em;
  margin-right: 1em;
}

section p:nth-of-type(1) {
  margin-bottom: 1em;
}

/* checkboxes bioscopen locaties*/
[class="detail"] section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

[class="detail"] section h3 {
  padding: 1em;
  text-transform: uppercase;
  background-color: var(--color-background);
}


/* section 'trailers en fotos'*/
[class="detail"] section:nth-of-type(4) h4 {
  margin-left: 0.5em;
}

[class="detail"] section:nth-of-type(4) {
  background-color: black;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  padding: 0.5em;
  margin-top: 1em;
}

[class="detail"] section:nth-of-type(4) img {
  max-width: 30%;
  max-height: 30%;
  height: auto;
  margin-right: 0.5em;
  margin-top: 2em;
}

/* section onder 'trailers en fotos' met fotos*/
section:nth-of-type(5) h4 {
  display: none;
}

[class="detail"] section:nth-of-type(5) {
  background-color: black;
  padding: 2em;
  color: white;
}

/* section 'schrijf een recensie'*/
section:nth-of-type(6) h4 {
  display: none;
}

[class="detail"] section:nth-of-type(6) {
  background-color: white;
  padding: 3em;
  display: flex;
  justify-content: center;
}

[class="detail"] section:nth-of-type(6) button {
  width: 20em;
  padding: 0.5em 1em;
  background-color: var(--color-pathe);
  color: var(--color-text);
  border: none;
  border-radius: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
}

[class="detail"] section:nth-of-type(6) button:focus {
  background-color: var(--color-background-body);
  outline: 3px solid var(--color-pathe);
}
/* FOOTER*/
footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-pathe);
  color: white;
  text-align: center;
  padding: 0.5em;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1em;
}